/* light brown : #F0E6D8 rgba(240, 230, 216, 0.7)
medium brown : #E1CDB2 rgba(225, 205, 178, 0.5)
dark brown : #D3B790 rgba(211, 183, 144, 0.6)
*/

/* Objets communs */
/*================*/
body{
    background-image: url('../img/background.png');
	margin: 0;
}
.page{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    color: black;
}
.text{
	padding: 20px 10%;
	text-justify: auto;
	text-align: justify;
	text-justify: inter-word;
    font-size: 1.3em;
}
.main{
    display: flex;
    flex-direction : column;
    align-items:center;
    margin-bottom: 20px;
    overflow: hidden;
    z-index: 1;
}

/*---------------------*/
/* Barre de navigation */
nav{
	position: sticky;
	top: 0;
	background: grey;
	width: 100%;
	margin: 0;
	border-bottom: solid 3px black;
	display: flex;
	justify-content: space-between;
	z-index: 2;
	background-image: url('../img/titlebar.png');
	background-size: auto 100%;
}
/* Logo */
#logo{
	padding: 8px;
}
/* Onglets */
.menuList{
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-family: "Impact", Charcoal, sans-serif;
	padding: 15px 0;
	font-size: 1.2em;
}
.menuList li{
	display: inline;
	margin: 0 10px;
	text-align: center;
}
li a {
	color: white;
}
li a:link, a:visited, a:active {
	text-decoration: none;
}
li a:hover {
	color: lightgrey;
}
/* Onglets raccourcis */
.dropdown{
	display: none;
}
@media (max-width: 600px) {
    /* Onglets raccourcis */
    .dropdown {
        display: flex;
        align-items: center;
        margin: 0 10px;
    } 
    ul.menuList{
        background-color: grey;
        position: absolute;
        opacity: 0;
        display: flex;
        flex-direction: column;
    }
    .menuList li{
        display: block;
        position: absolute;
        margin: 0 10px;
    }
    nav:hover ul{
        top: 72px;
        right: 0;
        transition: opacity 1s;
        opacity: 1;
        border-radius: 0 0 10px 10px;
    }
    nav:hover li{
        display: block;
        background-color: inherit;
        position: relative;
    }
    li a:hover {
        color: black;
    }
    /* Texte */
    .text{
        font-size: 1em;
    }
}

/*----------------------*/
/* Animation des objets */
.hidden {
	opacity: 0;
	transform: translateX(-100%);
    filter: blur(10px);
	transition: all 1s;
}
.right {
    transform: translateX(100%);
}
.show{
	opacity: 1;
    filter: blur(0);
	transform: translateX(0);
}

/*--------------*/
/* Pied de page */
footer{
	background: #333;
    color: white;
    font-family: 'georgia', serif;
    font-size: 0.9em;
}
.links ul {
    list-style-type: none;
}
.links {
    display: flex;
}
.links .sources{
	flex-grow: 2;
}
.links .autre{
	flex-grow: 1;
}
.links li:not(:has(h2)) {
    padding-left: 10px;
}
.links h2{
    margin: 0 0 10px;
}
.copyright {
    text-align: center;
    padding-bottom: 10px;
    font-size: 0.8em;
    color: #999;
}

/* Menu principal */
/*================*/
/* Images d'accueil */
.wallpaper {
	position: relative;
    width: 100%;
	overflow: hidden;
}
.wallpaper img {
    width: 100%;
    height: auto;
    border-bottom: ridge 4px sienna;
}
#nextWallpaper {
    position: absolute;
    top: 0;
    left: 100%;
}

/*-----------------------*/
/* Explication des pages */
.category{
    margin: 10px auto 30px;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
	height: min-content;
}
.category a:link, a:visited, a:active{
    text-decoration: none;
}
.category a{
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 1.3em;
    padding: 0 20px;
    font-family: 'georgia', serif;
}
.category a:hover{
    color: grey;
}
.category .photo{
	position: relative;
    width: 65%;
    height: auto;
}
.photo img{
	max-width:100%;
	box-shadow: black 2px 8px 20px -3px;
}
.photo #hunting {
	transform: rotate(-1deg);
}
.photo #mission {
	transform: rotate(1.2deg);
}
.photo #gang {
	transform: rotate(1.1deg);
}
/*--------*/
/* Scotch */
.tape {
    position: absolute;
    width: 20%;
    height: 8%;
    background: rgba(255,255,235,0.6);
    background-color: hsla(0,0%,100%,0.4);
}
.topleftTape{
	top: 0;
	left: -5%;
    transform: rotate(-40deg);
}
.toprightTape{
	top: 0;
	right: -5%;
    transform: rotate(30deg);
}
.bottomleftTape{
	bottom: 7%;
	left: -7%;
    transform: rotate(50deg);
}
.bottomrightTape{
	bottom: 0;
	right: -5%;
    transform: rotate(-25deg);
}
@media (max-width: 800px) {
    .category a{
        font-size: 1em;
    }
    .category .photo{
        width: 150%;
    }
}

/* Carte des animaux légendaires */
/*===============================*/

/*-------------------*/
/* Carte interactive */
.legendaryMap{
    display: flex;
    justify-content: center;
    margin: 30px auto;
    position: relative;
    width: 986px;
}
#map{
    border: ridge 6px sienna;
    box-shadow: 2px 4px 20px 1px #7f5539;
}
#notmap {
    display: none;
    border: ridge 6px sienna;
    box-shadow: 2px 4px 20px 1px #7f5539;
}
#currentIcon {
    height: auto;
    width: 60%;
    padding: 5px;
    display: none;
}
/* Carré d'information */
.information {
	position: absolute;
	top: 6px;
    left: 6px;
	width: 25%;
	height: auto;
    color: black;
	background-color: #F0E6D8;
	border-bottom: ridge 7px sienna;
    border-right: ridge 7px sienna;
	text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'georgia', serif;
}
#nomAnimal{
    width: 93%;
    text-align: center;
    padding: 10px;
}
/* Boutons de sélection */
.selector {
  position: relative;
  display: none;
  width: 100%;
  height: 2em;
  overflow: hidden;
}
.selector::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  background-color: #E1CDB2;
  transition: .25s all ease;
  pointer-events: none;
  color: sienna;
}
.selector:hover::after {
  color: orange;
}
.selector select {
  appearance: none;
  border: 0;
  flex: 1;
  padding: 0 1em;
  color: black;
  background-color: #F0E6D8;
  cursor: pointer;
  font-family: 'georgia', serif;
}

/*-------------------------*/
/* Description des animaux */
.animalDescription{
    background-color: #F0E6D8;
	border: ridge 8px sienna;
    width: 90%;
    padding: 10px;
    text-align: justify;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#currentAnimal {
    height: auto;
    width: 50%;
    display: none;
}
#currentDescription{
    padding: 0 15px 0;
    height: min-content;
}
#animalDrawing {
    display: none;
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
}

/* Si la carte interactive devient trop grande */
@media (max-width: 1100px) {    
    .legendaryMap{
        width: 90%;
    }
    #map{
        display: none;
    }
    #notmap {
        display: block;
        width: 100%;
        height: auto;
    }
    .information {
        left: 0;
    }
    #nomAnimal, #currentIcon{
        display: none;
    }
    .selector{
        display: flex;
    }
    .animalDescription{
        flex-direction: column;
        align-items: flex-start;
    }
    #currentAnimal {
        width: 100%;
        padding-bottom : 15px;
    }
}

/* Galerie des personnages */
/*=========================*/
/* Fiches de personnage */
.characterSheet {
    background: rgba(211, 183, 144, 0.6);
    max-width: 80%;
    overflow: hidden;
    border-radius: 5px;
    border: ridge 6px sienna;
    box-shadow: 2px 4px 20px 1px #7f5539;
    display: flex;
}
/* Par personnage */
.character {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* Texte */
.characterDescription{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.wanted{
	padding-top: 20px;
	padding-right: 60px;
	text-align: right;
	font-size: 2.5em;
	font-family: 'georgia', serif;
	font-weight: bold;
    color: #D90612;
}
.description {
    width: auto;
	height: 100%;
    color: darkred;
    padding: 0 10%;
    text-align: justify;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/* Image du personnage */
.picture {
    display: flex;
    height: 100%;
    align-items: flex-end;
}
.picture img{
   max-height: 500px;
}

/*-------------------*/
/* Tracker informatif */
form input[type=radio] {
   display: none;
}
#trackerBullet {
   text-align: center;
   padding: 10px;
}
#trackerBullet label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   margin: 0 10px;
}
#trackerBullet label:hover {
    cursor: pointer;
}

/*--------------------------*/
/* Carousel des personnages */
.carousel {
   max-width: 450px;
   margin: 10px auto;
   display: flex;
   justify-content: space-evenly;
   text-align: center;
   align-items: center;
   overflow: hidden;
}
.carousel *{
    background: red;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fleche {
    width: 10%;
    border: outset 5px lightgrey;
}
.fleche label img{
    height: auto;
    width: auto;
}
#gauche, #centre, #droite{
    width: 20%;
    height: 20%;
    border: outset 5px lightgrey;
    margin: 2%;
    transition: transform 0.15s ease-in-out;
}
#centre {
    transform: scale(1.2,1.2);
}
#gauche, #droite {
    filter: blur(0.5px);
    opacity: 0.5;
}
#gauche:hover, #droite:hover{
    transform: scale(1.1,1.1);
    opacity: 1;
    filter: none;
}
.arrow {
    height: 50px;
}
.carousel *:hover {
    cursor: pointer;
}
#centre *:hover{
    cursor: default;
}

/* Réduction de l'image si fenêtre réduite */
@media (max-width: 1050px) {
    .character {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .picture img{
        max-height: 400px;
    }
    .description {
		padding-bottom: 0;
        width: 85%;
        height: auto;
    }
    .carousel {
       width: 60%;
    }
}

/* Suivi de la progression */
/*=========================*/
.chapters{
	display: flex;
	flex-direction: column;
	width: 90%;
	margin:0 auto;
	padding: 5px;
}
.collapsible{
	display: flex;
	background-color: #F0E6D8;
	justify-content: space-between;
    border-radius: 5px;
	transition-duration: 0.2s;
}
.collapsible button{
	width: max-content;
	background-color: #F0E6D8;
	padding: 18px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition-duration: 0.2s;
    font-family: 'georgia', serif;
}
.collapsible button::before{
	content: '\27A2';
	font-size: 16px;
	margin-right: 8px;
	transform: rotate(0deg);
	transition: transform 0.3s ease-in-out;
	display: inline-block;
}
.collapsible:hover, .collapsible:hover button {
    background-color: #E1CDB2;
}
.active, .active button{
	background-color: #E1CDB2;
	border-radius: 5px 5px 0 0;
}
.active button::before{
	transform: rotate(90deg);
}
.cote{
    display: flex;
    padding-right: 5px;
}
/* Suivi de la progression */
.progression#progressionTotal{
	text-align: center;
	font-size: 1.8em;
	color: #D90612;
    font-family: 'georgia', serif;
    font-weight: bold;
    padding-top: 30px;
}
.progression{
	margin: auto 0;
	padding: 10px;
    color: black;
}
.date{
	width: 89%;
}

/* Bouton d'activation/désactivation */
.update {
	width: 2em;
	height: 2em;
	position: relative;
	margin: auto auto;
}
.update label {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	cursor: pointer;
	height: 93%;
	width: 93%;
	position: absolute;
	left: 0;
	top: 0;
}
.update label:after {
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	content: "";
	opacity: 0;
	height: 20%;
	width: 40%;
	position: absolute;
	left: 25%;
	top: 30%;
	transform: rotate(-45deg);
}
.update input[type="checkbox"] {
	visibility: hidden;
}
.update input[disabled]~label {
    opacity: 0.4;
}
.update input[type="checkbox"]:checked + label {
	background-color: orange;
	border-color: orange;
}
.update input[type="checkbox"]:checked + label:after {
	opacity: 1;
}
.update input[type="checkbox"]:disabled + label{
    cursor:default;
}

/* Contenu de la fenêtre */
.content {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: #F0E6D8;
	color: darkgrey;
	border-radius: 0 0 5px 5px;
	max-height: 0;
	transition: max-height 0.25s ease-out;
}
.content label{
	display: block;
}
.content .haut{
	margin: 10px;
	width: auto;
	display: flex;
	justify-content: space-between;
}
.content .droite{
	width: 40px;
	height: auto;
}

/* Initialisation */
.content#missions1{
	color: black;
}

/* Toggle switch des missions */
.content .droite *{
	border: solid 1px black;
	margin: 0.15em;
}
.content .droite input[type=checkbox] {
	display: none;
}
.content .droite input[disabled]~label {
    opacity: 0.5;
    cursor: default;
}
/* Fond du switch */
.content .droite label {
	cursor: pointer;
	height: 0.9em;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}
/* Switch */
.content .droite label:after {
	content: '';
	position: absolute;
	top: 0.1em; 
	left: 5px;
	width: 0.8em; 
	height: 0.7em; 
	background: #fff;
	border-radius: 50%;
	transition: 0.3s;
}
/* Fond si allumé */
.content .droite input:checked + label {
	background: red;
	border: solid 1px darkred;
}
/* Déplacement du switch */
.content .droite input[type=checkbox]:checked + label:after {
	left: calc(100% - 4px);
	transform: translateX(-100%);
}

/* Curriculum Vitae */
/*==================*/
.main h1, .cv h2, .cv h3 {
    font-family: 'georgia', serif;
}
.cv {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0;
}
.cv li{
   padding-bottom: 15px; 
}
.cv .gauche {
    width: 60%;
}
.cv .droite {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.droite .carre {
    background: rgba(240, 230, 216, 0.7);
    border-radius: 5px;
    padding: 15px;
    border: solid 1px #E1CDB2;
}
.carre h3 {
    margin: 0 0 10px;
    text-align: center;
}
@media (max-width: 600px) {
    .cv {
        flex-direction: column;
        margin: 0 5px 0;
    }
    .cv .gauche {
        margin: 0 auto;
    }
    .cv .droite {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .droite .carre {
        width: 20%;
        margin-bottom: 15px;
        word-wrap: break-word;
        font-size: 75%;
        padding: 15px;
    }
}